<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title">
        <h3>Choose Your <span>Coach</span></h3>
        <p>Please select the coach you would like to book a session with!</p>
      </br>

      <div class="row">
        
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <div class="member-img">
                    <img src="assets/img/team/Aiden-Bertoli.jpg" class="img-fluid" alt="">
                    <div class="social">
                      <a href=""><i class="bi bi-link-45deg"> Book Session</i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Aiden Bretoli</h4>
                    <span>Head Personal Performance Trainer</span>
                  </div>
                </div>
        </div>

        

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/kaylee-Bruce.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-link-45deg"> Book Session</i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Kaylee Bruce</h4>
              <span>Lead Female Personal Trainer</span>
            </div>
          </div>
        </div>

        <!--
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-link-45deg"> Book Session</i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-link-45deg"> Book Session</i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>

        
      -->

      </div>
    </div>
</section>