<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title">
        <h3>Choose Your <span>Coach</span></h3>
        <p>Please select the coach you would like to book a session with!</p>
      </br>

      <div class="row">
        
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member  image-box">
                  <div class="member-img image-box">
                    <img src="assets/img/team/Aiden-Bertoli.jpg" class="img-fluid image" alt="">
                    <div class="social">
                      <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTLwlUFlgWuhfripcrlsV9jh26B7x37p5kd6WgK34MG1NhIidKjH3sQYqGxgzdf5ndm8Ljhda2y8zLt/pubhtml"><i class="bi bi-link-45deg"> Book Session</i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Aiden Bretoli</h4>
                    <span>Head Personal Performance Trainer</span>
                  </div>
                </div>
        </div>

        

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member image-box">
            <div class="member-img image-box">
              <img src="assets/img/team/kaylee-Bruce.jpg" class="img-fluid image" alt="">
              <div class="social">
                <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTl501V6BwwWQLGCD-FqQe1deXkaKTij1BPKe93XGwr6tzwZYIKTS9hBj1_UEg9JWpWOSWHFi0qaesW/pubhtml"><i class="bi bi-link-45deg"> Book Session</i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Kaylee Bruce</h4>
              <span>Lead Female Personal Trainer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member image-box">
            <div class="member-img  image-box">
              <img src="assets/img/team/Laith-Ibrahim.jpg" class="img-fluid image" alt="">
              <div class="social">
                <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ0PROubvGKsE7-SyOEBR3Qed_jeMxwZvEFxHVq49XYiav_pDpLKRPXiP-oMImAl18lz0nggCLM4WJv/pubhtml"><i class="bi bi-link-45deg"> Book Session</i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Laith Ibrahim</h4>
              <span>Personal Trainer</span>
            </div>
          </div>
        </div>

        
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member image-box">
            <div class="member-img image-box">
              <img src="assets/img/team/Shayan-Nezhad-Ahmadi.jpg" class="img-fluid image" alt="">
              <div class="social">
                <a target="_blank" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS-2gnWhadcxEBpWpmUqGZXikZAaL3IXEfxHRuJL0uDq2ihD1VgawypL0G4y1cXwDhyAUWyzlhZyzSf/pubhtml"><i class="bi bi-link-45deg"> Book Session</i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Shayan Nezhad Ahmadi</h4>
              <span>Grassroots Lead Personal Trainer</span>
            </div>
          </div>
        </div>

        

      </div>
    </div>
</section>