<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>IONSPORT</strong></h3>
      <h1>Personal Training For Elite Players</h1>
      <h2>The finest personal soccer training in KW!</h2>
      <a href="" class="btn-get-started scrollto" id="heroBookButton">Book Session</a>
    </div>
  </section><!-- End Hero -->




<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h3>Check Out Our <span>Services</span></h3>
        <p>At IONSPOST, we offer personalized guidance and unwavering support to help you reach your goals. Let's ignite your potential and start this journey together!</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Personalized Practices</a></h4>
            <p class="description">
              We offer personalized practices to ensure that our coaching strategies are tailored to your specific needs, strengths, and goals
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Group Training</a></h4>
            <p class="description">
              Group coaching is designed to foster collaboration, build team cohesion, and accelerate progress towards shared goals
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Professional Coaching</a></h4>
            <p class="description">
              You'll have access to industry experts who can provide personalized guidance and support in your chosen field
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Diverse Network</a></h4>
            <p class="description">
              We offer a diverse network of experts for specialized guidance to accommodate the unique needs of every individual
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="row">
        <div class="col-lg-3 col-md-4 col-6 col-6">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3><a href="">Communication</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3><a href="">Collaboration</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3><a href="">Performance</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3><a href="">Coaching</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3><a href="">Mentoring</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3><a href="">Leadership</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3><a href="">Planning</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4">
          <div class="icon-box">
            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
            <h3><a href="">Training</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4">
          <div class="icon-box">
            <i class="ri-anchor-line" style="color: #b2904f;"></i>
            <h3><a href="">Strategy</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4">
          <div class="icon-box">
            <i class="ri-disc-line" style="color: #b20969;"></i>
            <h3><a href="">Consulting</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ff5828;"></i>
            <h3><a href="">Motivation</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
            <h3><a href="">Analysis</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h3>Frequently Asked <span>Questions</span></h3>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is personal soccer training, and how is it different from team training? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Personal soccer training is one-on-one training with a coach who works specifically with the individual player to improve their skills and technique. Team training is more focused on developing teamwork and game tactics for a group of players.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Who is personal soccer training suitable for? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Personal soccer training is suitable for players of all ages and skill levels who want to improve their game. Whether you are a beginner or an experienced player, there is always room for improvement and personalized training can help you reach your full potential.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What types of training do you offer?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                We offer a range of training programs, including technical training, speed and agility training, strength and conditioning, and game-specific training. We tailor our training to meet the individual needs and goals of each player.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How long are the training sessions?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Training sessions typically last for one hour, although we can customize the length of the session to fit your schedule and availability.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Where do the training sessions take place? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Training sessions can take place in a variety of locations, including indoor and outdoor facilities such as the KW FitHouse and RIM Park, depending on your preference and availability.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">What qualifications do your coaches have? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                All of our coaches have extensive experience in coaching and playing soccer at a high level. They are also certified by reputable organizations such as Ontario Soccer and have completed background checks.
              </p>
            </div>
          </li>

          
          <li>
            <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">How often should I schedule a training session? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq7" class="collapse" data-bs-parent=".faq-list">
              <p>
                The frequency of training sessions depends on your goals and availability. We recommend at least one session per week to see consistent improvement, but we can work with you to develop a schedule that meets your needs.
              </p>
            </div>
          </li>

          
          <li>
            <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">How do you track progress? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq8" class="collapse" data-bs-parent=".faq-list">
              <p>
                We use a variety of methods to track progress, including video analysis, goal setting, and regular assessments. This allows us to identify areas of improvement and adjust our training programs accordingly.
              </p>
            </div>
          </li>

          
          <li>
            <div data-bs-toggle="collapse" href="#faq9" class="collapsed question">What equipment do I need for training? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq9" class="collapse" data-bs-parent=".faq-list">
              <p>
                We provide all necessary equipment, including balls, cones, and training aids. You should wear appropriate soccer attire and footwear.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->